@import url('https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

body{
    font-family: "Poppins", sans-serif;
    background: #8c1eff;
    background-color: #1c0b2b;
    background-image: url(fotos/press.gif);
    height: 500px;
    text-shadow: white;
   
}

#eu{

        border-radius: 10px;
        display: grid;
        place-items: center;
        width: 500px;

}
img{

    width: 50px;
    display: grid;

}
#all{
    height: 200px;
    width: 80%;
    border:solid 10px;
    margin: 300px;
    display: flex;
    align-items: center;
    
    background-color: #F27F3D ;
    
}

footer{
    text-align: center;
    padding: 3px;
    background-color: #F27F3D;
    color: white;
    width: 2000px;
    height: 100px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px   ;
    padding: 10px 0;

}