@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');



body{

    margin:0;
    padding: 0;
    height: 100;
    font-family: "Poppins", sans-serif;

}

h1{

    text-align: center;
    color: #1c0b2b;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
    text-shadow: 0 0 10px #fff;
}


h2{

    text-align: center;
    color: #1c0b2b;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
    text-shadow: 0 0 10px #fff;

}

a{
    text-align: center;

} 
.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    
  }
.polaroid > img{
    max-width: 100%;
    height: auto;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px   ;
    padding: 10px 0;
    background-color: black;
}

a{
    text-shadow: 0 0 10px #fff;
    font-size: 1.4rem;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.lado{
    display: flex;
    align-items: center;
    justify-content: center;

}

p{
    background-color: fff;
    
}

#fundo{
    background-color: #1c0b2b;
    background-image: url(fotos/press.gif);
    height: 500px;

}